body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:3450px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:3450px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1717px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:181px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:181px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:331px;
  width:181px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:19px;
  width:35px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:218px;
  width:77px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:375px;
  width:181px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
