body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:2577px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:2577px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1280px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:18px;
  width:32px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:241px;
  width:179px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:286px;
  width:179px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:179px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:216px;
  width:76px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:203px;
  width:43px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:167px;
  width:264px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
