body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:2905px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:2905px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1444px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:2676px;
  width:171px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
