body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:2718px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:2718px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1351px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:16px;
  width:34px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:596px;
  width:321px;
  height:240px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u93 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:596px;
  width:397px;
  height:240px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:596px;
  width:268px;
  height:240px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:164px;
  width:255px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1646px;
  width:115px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
