body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:788px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:788px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:688px;
  width:194px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:720px;
  width:144px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
