body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:4480px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:4480px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2232px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:4107px;
  width:173px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
